// Font definition
$fontStyleh1: "Patrick Hand", cursive;
$fontStylep: "Raleway", sans-serif;

// Color definition for text
$textColorBeige: #ffe7cb;
$textColorGreen: #01504d;

//Color definition for background
$colorJungleGreen: #01504d;
$colorLightGreen: #40c2aa;
$colorSand: #feb250;

// Main elements of the page
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.page {
  height: 1000px;
}
